h1 {
    transition: all 0.3s ease;
}

/* Imagen adaptable */
img {
    max-width: 100%;
    height: auto;
    transition: all 0.4s ease;
    border-radius: 10px;
}

/* Ajustes extra para celular */
@media (max-width: 576px) {
    h1 {
        font-size: 1.5rem;
    }

    .card {
        padding: 15px;
    }
}