body {
    font-family: Arial;
    background-color: #1e1e1e;
    color: white;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 60%;
}

th, td {
    border: 1px solid white;
    padding: 10px;
}

th {
    background-color: #333;
}